<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.OrderCarMapper">
<resultMap id="CarMap" type="com.bilibili.entity.ShoppingCar">
    <id property="carId" column="car_id"/>
    <result property="userId" column="car_user_id"/>
    <result property="totalPrice" column="total_price"/>
    <result property="status" column="car_status"/>
    <result property="addressId" column="address_id"/>
</resultMap>
    <insert id="addOrderCar">
        insert into order_car(car_id, car_user_id, total_price, status, address_id) VALUES (#{carId}, #{userId}, #{totalPrice}, 0, #{addressId})
    </insert>
</mapper>